# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
env/
venv/

# Environment variables
.env

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
*.egg
dist/
build/
.eggs/

# Lock files
uv.lock


# Add files
app.py
play.py
play2.py
